.card {
    border-radius: 12px;
    background: var(--LightestNavy);
    padding: 1rem;
    margin: 2rem;
    color: var(--LightestSlate);
    font-size: 1.28em;
    /*padding-right:10%;*/
    text-align:center;
    align-items:center;
}
