.moving-cursor{
  position:absolute;
  transform:translate(-50%,-50%);
  height:35px;
  width:35px;
  border-radius:50%;
  border:2px solid var(--Green);
  transition: 0.5s;
}
.moving-cursor.active{
  background-color:var(--Green);
  opacity: 0.3;
  border:2px solid var(--Green);
  transform:translate(-50%,-50%) scale(2);
}